$deep-yellow: #443921;
$black: #000;
$dark: #252426;
$border-color:#35333b;
$opacity-dark:rgba(0,0,0,0.35);

$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$panGreen: #30B08F;
$defaultYellow: #ffc444;
$defaultBule: #409EFF;
$dark000: #000;
$dark111: #1b1b1b;
$dark333: #333;
$dark777: #7a7a7a;
$darkfff: #fff;
$blue: #0094ff;
$red: #ff0003;
$yellow:#ffcc00;
$brown: #9e8558;
$fontColor: #fff1d3;
$gray: #d7d4de;
$deepBlue: #014a7f;
$deepRed: #7f0002;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
